<div ng-controller="Task1Controller">

    <h3>Task 2</h3>


    <form class="form-inline">
        <input class="form-control" ng-model="searchField" type="text" placeholder="Search on a topic">
        <button class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-thumbs-up"></span> Search</button>
    </form>


    <br>
    <ul>


        <!--<accordion close-others="oneAtATime">-->
        <!--<accordion-group heading="{{group.title}}" ng-repeat="group in groups" tooltip-placement="right" tooltip="{{group.abstract}}" ng-click="getContent(group.title)">-->
        <!--{{group.content}}-->
        <!--</accordion-group>-->
        <!--</accordion>-->

        <accordion close-others="false">
            <accordion-group heading="{{result.title}}" ng-click="loadAcordion(result)" ng-repeat="result in result"
                             tooltip-placement="right" tooltip="{{result.abstract}}">
                <h1>{{result.content.title}}</h1>

                <p>{{result.content.abstract}}</p>

                <div>
                    <h3 ng-show="result.content.categories.length">Categories</h3>
                    <ul>
                        <li ng-repeat="category in result.content.categories">{{category}}</li>
                    </ul>
                </div>
                <div>
                    <h3>Headings</h3>
                    <!--WOOT IS THIS?-->
                    <ul>
                        <li ng-repeat="heading in result.content.headings">{{heading.heading}}</li>
                    </ul>
                </div>
                <div>
                    <h3>Links</h3>

                    <ul>
                        <a href="{{link}}" ng-repeat="link in result.content.links">
                            <li>{{link}}</li>
                        </a>
                    </ul>
                </div>

            </accordion-group>
        </accordion>

    </ul>
</div>