<div ng-controller="Task1Controller">

    <h3>{{title}}</h3>

    <form class="form-inline">
        <input class="form-control" ng-model="searchField" type="text" placeholder="Search on a topic">
        <button class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</button>
    </form>


    <br>
    <ul>

        <li ng-repeat="result in result"><a href="#/wikiDetails/{{result.title}}" tooltip-placement="right" tooltip="{{result.abstract}}">{{result.title}}</a></li>
        <!--<accordion close-others="oneAtATime">-->
            <!--<accordion-group heading="{{group.title}}" ng-repeat="group in groups" tooltip-placement="right" tooltip="{{group.abstract}}" ng-click="getContent(group.title)">-->
                <!--{{group.content}}-->
            <!--</accordion-group>-->
        <!--</accordion>-->

    </ul>
</div>